body {
	background: #e3e3e3 url(../images/noise-gray.png) repeat;
	font-family: arial, tahoma;
}
header {
	background: #7C2A90;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);	
	height: 50px;		
	padding: 0 15px 0 0;	
	position: fixed;
	width: 100%;	
	z-index: 100;	
}

header .logo {
	background: url(../images/logo.png) no-repeat;
	display: block;
	height: 26px;
	position: absolute;
	left: 8%;
	top: 12px;
	width: 150px;
}

/* Dropdown Menu */
.dropdownMenuBox {
	left: 330px;
	top: 12px;
	position: absolute;
}
.dropdownMenu {
	font-size: 13px;
	font-weight: bold;
	position: relative;
	float: left;
}
.dropdownMenu.city {
}
.dropdownMenu.category {

}
	.dropdownMenu.level1 a.level1Link {
		background: url(../images/dropdown-arrow.png) no-repeat right 12px;	
		background-color: #D1007C;
		background-color: rgba(209,0,124,.7);
		border-radius: 10px;
		box-shadow: 1px 1px 2px rgba(0,0,0,.1);
		color: #fff;
		display: block;
		float: left;	
		margin: 0 30px 0 0;
		padding: 5px 26px 5px 16px;
		text-decoration: none;
	}
	.dropdownMenu.level1 a.level1Link:hover {
		background-color: rgba(209,0,124,.8);
	}
	.dropdownMenu .level2 {
		background: #fff;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;		
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
		-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
		-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
		display: none;
		position: absolute;
		padding: 15px 10px 20px 15px;
		top: 35px;
		width: 480px;

	}
	.dropdownMenu .level2 .arrow {
		background: url(../images/dropdown-level2-arrow.png) no-repeat;		
		height: 13px;
		width: 27px;
		top: -9px;	
		position: absolute;
	}	

	.dropdownMenu .level2 a.level2Link {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
			webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
			-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);		
		border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;		
		color: #8f8f8f;
		display: block;
		float: left;
		padding: 6px 0 5px 9px;
		position: relative;
		text-decoration: none;
		width: 150px;
	}
	.dropdownMenu .level2 a.level2Link:hover {
		background: #ededed;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #e8e8e8));
		background: -webkit-linear-gradient(#f1f1f1,#e8e8e8);
		background: -moz-linear-gradient(#f1f1f1,#e8e8e8);
		background: -o-linear-gradient(#f1f1f1,#e8e8e8);
		background: linear-gradient(#f1f1f1,#e8e8e8);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset,0 -1px 0 rgba(0,0,0,0.035) inset,1px 0 0 rgba(0,0,0,0.038) inset,-1px 0 0px rgba(0,0,0,0.02) inset;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset,0 -1px 0 rgba(0,0,0,0.035) inset,1px 0 0 rgba(0,0,0,0.038) inset,-1px 0 0px rgba(0,0,0,0.02) inset;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset,0 -1px 0 rgba(0,0,0,0.035) inset,1px 0 0 rgba(0,0,0,0.038) inset,-1px 0 0px rgba(0,0,0,0.02) inset;
	}	
#content {
	padding-top: 50px;
}

#content h1 {
	color: #555;
	font-size: 32px;
	font-weight: normal;
	margin: 25px 20px 10px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}


.dealsList {
	text-align: center;
}
	.dealsList .item {
		background-color: #ffffff;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.3);	
		border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;	
		display: inline-block;
		height: 300px;
		margin: 15px 10px;
		overflow: hidden;
		position: relative;
		width: 300px;
	}
		.dealsList .item .title {
			bottom: 0px;
			color: #fff;
			background: #000;
			background: rgba(0,0,0,0.65);
			width: 280px;
			font-size: 20px;
			padding: 8px 10px 8px 10px;
			position: absolute;
			text-align: left;
			overflow: hidden;	
			white-space: nowrap;
			text-overflow: ellipsis;
		}
			.dealsList .item .title .subtitle {
				font-size: 11px;
				margin-top: 5px;
			}

.pagination {
	text-align: center;
	margin-top: 30px;
	font-size: 130%;
	margin-bottom: 70px;
}
	.pagination .disabled {
		visibility: hidden;
	}
	.pagination a,
	.pagination .current {
		padding: 6px 12px 5px 12px;
		background-color: #fff;
		border: 1px solid #cdcdcd;
		border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		color: #5e5e5e;
		text-shadow: 0px 1px 0px white;
		text-decoration: none;
	}
	.pagination a:hover,
	.pagination .current {
		color: #fff;
		background: #7C2A90;
		border: 1px solid #7C2A90;
		text-shadow: none;
}
footer {
	background: #d1d1d1;
	height: 40px;
	position: relative;
}
	footer .menu {
		padding: 10px 0 0 8%;
	}
	footer .menu a {
		font-size: 12px;
		padding: 10px;
	}
	footer .menu a:hover {
		color: #000;
	}
